@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #FFFFFF;
  --foreground: #0F1316;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Segoe UI", system-ui, sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Segoe UI Semibold", "Segoe UI", system-ui, sans-serif;
  font-weight: 600;
  line-height: 1.2;
}

p {
  line-height: 1.6;
}

@media (max-width: 640px) {
  body {
    font-size: 16px;
  }
}

